.tight-table td {
  white-space: normal !important;
}

.table-caption {
  font-size: 0.75rem;
}

.wy-nav-content {
  max-width: 1060px;
}

div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(3) {
  display: none;
}

@media screen and (min-width: 767px) {
  .rst-content img {
    max-width: 760px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px !important;
  }
}
